<form [formGroup]="testForm">

  <div *ngFor="let controlName of testForm.controls | keys">
    <ng-container *ngIf="!buttonDisabled">
      <input [formControlName]="controlName" type="text">
    </ng-container>
  </div>
  <hr>

  <button [disabled]="!testForm.valid" (click)="handlePrint(testForm.value)">Print</button>
  <button [disabled]="!isEqual(testForm.value, printedFormValues)" (click)="send(printedFormValues)">Send</button>

  <button (click)="removeFormControls()" [disabled]="buttonDisabled">Remove FormControls</button>
</form>

<pre>
  Form value: {{testForm.value | json}}

  printedFormValues: {{printedFormValues | json}}

</pre>